<!-- loader -->
<div id="loader" class="ui dimmer transition active inverted">
    <div class="ui loader"></div>
</div>
<!-- a error on the page -->
<div class="ui error message ng-hide" ng-hide="Model.Error == null">
    <i class="close icon" ng-click="Model.Error = null"></i>
    <div class="header">
        Error
    </div>
    <p>{{Model.Error}}</p>
</div>
<div ng-show="Model.Loaded">
    <!-- panel -->
    <div class="ui three column stackable grid">
        <div class="row">
            <!-- create task -->
            <div class="three wide column">
                <button class="ui primary button" ng-click="CreateTask_OnClick()">Create&nbsp;Task</button>
            </div>
        </div>
        <div class="row">
            <!-- filter -->
            <div class="three wide column computer">
                <select id="history-filter" class="ui dropdown streach"
                        ng-model="Model.SelectedHistoryFilter"
                        ng-change="HistoryFilter_OnChange()">
                    <option value="">History Filter</option>
                    <option ng-repeat="(id, name) in Model.HistoryFilters" value="{{id}}">{{name}} - today</option>
                </select>
            </div>
            <div class="three wide column computer">
                <select id="project-filter" class="ui dropdown streach"
                        ng-model="Model.SelectedProjectFilter"
                        ng-change="ProjectFilter_OnChange()">
                    <option value="">Project Filter</option>
                    <option ng-repeat="project in Model.Projects" value="{{project.EntityId}}">{{project.Title}}</option>
                </select>
            </div>
            <div class="three wide column computer">
                <select id="user-filter" class="ui dropdown streach"
                        ng-model="Model.SelectedUserFilter"
                        ng-change="UserFilter_OnChange()">
                    <option value="">Responsible Filter</option>
                    <option ng-repeat="user in Model.Users" value="{{user.Id}}">{{user.UserName}}</option>
                </select>
            </div>
            <div class="two wide column computer">
                <div class="ui button streach"
                     ng-click="ClearFilters_OnClick()">
                    Clear
                </div>
            </div>
            <div class="one wide column computer">
            </div>
            <!-- sorting -->
            <div class="two wide column computer">
                <div class="ui right labeled icon button streach"
                     ng-class="Model.SortBy == 3 || Model.SortBy == 4 ? 'primary' : ''"
                     ng-click="SortByUrgency_OnClick()">
                    <i class="long arrow icon"
                       ng-class="Model.SortBy == 3 ? 'up' : 'down'"></i>
                    Urgency
                </div>
            </div>
            <div class="two wide column computer">
                <div class="ui right labeled icon button streach"
                     ng-class="Model.SortBy == 1 || Model.SortBy == 2 ? 'primary' : ''"
                     ng-click="SortByTaskId_OnClick()">
                    <i class="long arrow icon"
                       ng-class="Model.SortBy == 1 ? 'up' : 'down'"></i>
                    Task#
                </div>
            </div>
        </div>
    </div>
    <!-- tasks -->
    <table class="ui celled table flexed">
        <thead>
            <tr>
                <th class="one wide">Tasks</th>
                <th class="three wide left-merge"></th>
                <th class="five wide">Desctiptions</th>
                <th class="seven wide">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr id="task-{{task.EntityId}}" class="top aligned"
                ng-repeat-start="task in Model.FilteredTasks">
                <td colspan="2">
                    <div class="content">
                        <div>
                            <span class="label">Task#</span>&nbsp;
                            <span class="value"><b>{{task.Index}}</b></span>&nbsp;
                            <div class="pull-right">
                                <a href="" ng-click="CreateSubTask_OnClick(task)">add subtask</a>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="EditTask_OnClick(task)">edit</a>
                            </div>
                        </div>
                        <div>
                            <span class="label">Project</span>&nbsp;
                            <span class="value">{{Model.ProjectName(task.ProjectId)}}</span>
                        </div>
                        <div>
                            <span class="label">Owner</span>&nbsp;
                            <span class="value">{{Model.UserName(task.CreatedById)}}</span>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{task.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[task.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Urgency</span>&nbsp;
                            <span class="ui tiny label" ng-class="TaskPriorityClasses[task.Priority]">{{TaskPriorityNames[task.Priority]}}</span>
                        </div>
                        <div>
                            <span class="label">Hours (actual / total)</span>&nbsp;
                            <span class="value"
                                  ng-class="task.ActualWorkHours > task.TotalWorkHours ? 'red' : ''">
                                {{task.ActualWorkHours | number:1}}h / {{task.TotalWorkHours | number:1}}h
                            </span>
                        </div>
                        <div>
                            <span class="label">Responsible</span>&nbsp;
                            <span class="value">{{Model.UserNames(task.UserIds)}}</span>
                        </div>
                        <span class="ng-hide">{{task | set_progress_data_percent}}</span>
                        <div class="ui progress green value" id="progress-{{task.EntityId}}">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="word_wrap">
                    <p>
                        <b>{{task.Title}}</b>
                    </p>
                    <p ng-bind-html="task.Description | nl2br"></p>
                </td>
                <!-- Task -> Comments -->
                <td class="tasks-comments">
                    <div class="item" ng-show="task.Comments.length > 3"
                         ng-class="ShowedAllComments.indexOf(task.EntityId) == -1 ? '' : 'border'">
                        <div class="content">
                            <div class="center aligned">
                                <a href="" ng-click="ToggleAllComments_OnClick(task.EntityId, task.Comments)">
                                    {{ShowedAllComments.indexOf(task.EntityId) == -1 ? 'show all comments' : 'hide comments'}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui middle aligned divided items">
                        {{ResetCheckNewValue();""}}
                        <div class="item" ng-repeat="comment in task.Comments" ng-show="comment.Visible">
                            <div class="content">
                                <div class="ui small header">{{comment.DateMoment.format("MM/DD")}} {{Model.UserName(comment.CreatedById)}}</div>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="EditTaskComment_OnClick(task, comment)">edit</a>
                                <div class="right floated">
                                    <div class="ui label"
                                         ng-class="CheckNewValue('task_status', task.EntityId, comment.Status) ? 'blue' : ''">
                                        {{TaskStatusNames[comment.Status]}}
                                    </div>
                                    <div class="ui label"
                                         ng-show="comment.ProgressPercent != null"
                                         ng-class="CheckNewValue('task_progress', task.EntityId, comment.Progress) ? 'green' : ''">
                                        {{comment.ProgressPercent | number:0}}%
                                    </div>
                                    <div class="ui grey label"
                                         ng-show="comment.ActualWorkHours != null">
                                        {{comment.ActualWorkHours | number:1}}h
                                    </div>
                                </div>
                                <div class="description">
                                    <p ng-bind-html="comment.Description | nl2br"></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <button class="ui primary button" ng-click="AddTaskComment_OnClick(task)">Add</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- subtasks -->
            <tr id="subtask-{{subtask.EntityId}}" class="top aligned"
                ng-repeat-end ng-repeat="subtask in task.SubTasks">
                <td class="header"></td>
                <td>
                    <div class="content">
                        <div>
                            <span class="label">Index</span>&nbsp;
                            <span class="value"><b>{{task.Index}}</b>/<b>{{subtask.Order}}</b></span>
                            <div class="pull-right">
                                <a href="" ng-click="UpSubTask_OnClick(subtask)">up</a>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="DownSubTask_OnClick(subtask)">down</a>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="EditSubTask_OnClick(subtask)">edit</a>
                            </div>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{subtask.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[subtask.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Hours</span>&nbsp;
                            <span class="value"
                                  ng-class="subtask.ActualWorkHours > subtask.TotalWorkHours ? 'red' : ''">
                                {{subtask.ActualWorkHours | number:1}}h / {{subtask.TotalWorkHours | number:1}}h
                            </span>
                        </div>
                        <span class="ng-hide">{{subtask | set_progress_data_percent}}</span>
                        <div class="ui progress green value" id="progress-{{subtask.EntityId}}">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="four wide">
                    <p>
                        <b>{{subtask.Title}}</b>
                    </p>
                    <p ng-bind-html="subtask.Description | nl2br"></p>
                </td>
                <!-- SubTask -> Comments -->
                <td class="tasks-comments">
                    <div class="item" ng-show="subtask.Comments.length > 3"
                         ng-class="ShowedAllComments.indexOf(subtask.EntityId) == -1 ? '' : 'border'">
                        <div class="content">
                            <div class="center aligned">
                                <a href="" ng-click="ToggleAllComments_OnClick(subtask.EntityId, subtask.Comments)">
                                    {{ShowedAllComments.indexOf(subtask.EntityId) == -1 ? 'show all comments' : 'hide comments'}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui middle aligned divided items">
                        {{ResetCheckNewValue();""}}
                        <div class="item" ng-repeat="comment in subtask.Comments" ng-show="comment.Visible">
                            <div class="content">
                                <div class="ui small header">{{comment.DateMoment.format("MM/DD")}} {{Model.UserName(comment.CreatedById)}}</div>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="EditTaskComment_OnClick(subtask, comment)">edit</a>
                                <div class="right floated">
                                    <div class="ui label"
                                         ng-class="CheckNewValue('subtask_status', subtask.EntityId, comment.Status) ? 'blue' : ''">
                                        {{TaskStatusNames[comment.Status]}}
                                    </div>
                                    <div class="ui label"
                                         ng-show="comment.ProgressPercent != null"
                                         ng-class="CheckNewValue('subtask_progress', subtask.EntityId, comment.Progress) ? 'green' : ''">
                                        {{comment.ProgressPercent | number:0}}%
                                    </div>
                                    <div class="ui grey label"
                                         ng-show="comment.ActualWorkHours != null">
                                        {{comment.ActualWorkHours | number:1}}h
                                    </div>
                                </div>
                                <div class="description">
                                    <p ng-bind-html="comment.Description | nl2br"></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <button class="ui primary button" ng-click="AddSubTaskComment_OnClick(subtask)">Add</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <footer>
        <p>&copy; 2017 - Task Manager</p>
    </footer>
</div>
<!-- Edit Task Modal -->
<modal id="edit-task-modal" class="ui big modal" ng-model="Model.EditTask">
    <i class="close icon" ng-click="TaskCancel_OnClick()"></i>
    <div class="header">{{Model.EditTask.EntityId == null ? 'Create Task' : 'Edit Task #' + Model.EditTask.Index}}</div>
    <div id="form-task" class="ui validate form content">
        <div class="ui red message ng-hide" ng-hide="Model.EditTask.Error == null">
            <p ng-bind-html="Model.EditTask.Error"></p>
        </div>
        <div class="field">
            <label>Title</label>
            <input id="title" placeholder="Title" type="text"
                   ng-model="Model.EditTask.Title">
        </div>
        <div class="field">
            <label>Project</label>
            <select id="project" class="ui dropdown"
                    ng-model="Model.EditTask.ProjectId"
                    ng-options="project.EntityId as project.Title for project in Model.Projects">
                <option value="">Project</option>
            </select>
        </div>
        <div class="field">
            <label>Urgency</label>
            <button class="ui button"
                    ng-class="TaskPriorityClasses[Model.EditTask.Priority]"
                    ng-click="TaskPriority_OnClick()">
                {{TaskPriorityNames[Model.EditTask.Priority]}}
            </button>
        </div>
        <div class="field">
            <label>Total Hours</label>
            <div class="ui right labeled input">
                <input id="total-hours" placeholder="Total Hours" type="text"
                       ng-model="Model.EditTask.TotalWorkHours"
                       ng-model-options="{ updateOn: 'blur'}">
                <div class="ui label">
                    hours
                </div>
            </div>
        </div>
        <div class="field">
            <label>Responsible</label>
            <select id="task-users" class="ui fluid dropdown" multiple
                    ng-model="Model.EditTask.UserIds"
                    ng-options="user.Id as user.UserName for user in Model.Users">
                <option value="">Responsible</option>
            </select>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" rows="2"
                      ng-model="Model.EditTask.Description"></textarea>
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated"
             ng-click="TaskDelete_OnClick()"
             ng-show="Model.EditTask.EntityId != null"
             lb-busy="Deleting">
            Delete
        </div>
        <div class="ui clear button"
             ng-click="TaskCancel_OnClick()">
            Cancel
        </div>
        <div class="ui primary button"
             ng-click="TaskOk_OnClick()"
             lb-busy="Saving">
            {{Model.EditTask.EntityId == null ? 'Create' : 'Save'}}
        </div>
    </div>
</modal>
<!-- Edit SubTask Modal -->
<modal id="edit-subtask-modal" class="ui big modal" ng-model="Model.EditSubTask">
    <i class="close icon" ng-click="SubTaskCancel_OnClick()"></i>
    <div class="header">{{Model.EditSubTask.EntityId == null ? 'Create SubTask' : 'Edit SubTask #' + Model.EditSubTask.Order}}</div>
    <div id="form-subtask" class="ui validate form content">
        <div class="ui red message ng-hide" ng-hide="Model.EditSubTask.Error == null">
            <p ng-bind-html="Model.EditSubTask.Error"></p>
        </div>
        <div class="field">
            <label>Title</label>
            <input id="title2" placeholder="Title" type="text"
                   ng-model="Model.EditSubTask.Title">
        </div>
        <div class="field">
            <label>Total Hours</label>
            <div class="ui right labeled input">
                <input id="total-hours2" placeholder="Total Hours" type="text"
                       ng-model="Model.EditSubTask.TotalWorkHours"
                       ng-model-options="{ updateOn: 'blur'}">
                <div class="ui label">
                    hours
                </div>
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" rows="2"
                      ng-model="Model.EditSubTask.Description"></textarea>
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated"
             ng-click="SubTaskDelete_OnClick()"
             ng-show="Model.EditSubTask.EntityId != null"
             lb-busy="Deleting">
            Delete
        </div>
        <div class="ui button"
             ng-click="SubTaskCancel_OnClick()">
            Cancel
        </div>
        <div class="ui primary button"
             ng-click="SubTaskOk_OnClick()"
             lb-busy="Saving">
            {{Model.EditSubTask.EntityId == null ? 'Create' : 'Save'}}
        </div>
    </div>
</modal>
<!-- Edit Comment Modal -->
<modal id="edit-comment-modal" class="ui big modal" ng-model="Model.EditComment">
    <i class="close icon" ng-click="CommentCancel_OnClick()"></i>
    <div class="header">{{(Model.EditComment.EntityId == null ? 'Create Comment on the Task #' : 'Edit Comment on the Task #') + Model.TaskIndexByComment(Model.EditComment)}}</div>
    <div id="form-comment" class="ui validate form content">
        <div class="ui red message ng-hide" ng-hide="Model.EditComment.Error == null">
            <p ng-bind-html="Model.EditComment.Error"></p>
        </div>
        <div class="field">
            <label>Date</label>
            <div class="ui calendar" id="date">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Status</label>
            <select id="status" class="ui dropdown"
                    ng-model="Model.EditComment.Status" convert-to-number
                    ng-options="id as name for (id, name) in TaskStatusNames">
                <option ng-repeat="(id, name) in TaskStatusNames" value="{{id}}">{{name}}</option>
            </select>
        </div>
        <div class="field">
            <label>Actual Hours</label>
            <div class="ui right labeled input">
                <input id="actual-hours" placeholder="Actual Hours" type="text"
                       ng-model="Model.EditComment.ActualWorkHours"
                       ng-model-options="{ updateOn: 'blur'}">
                <div class="ui label">
                    hours
                </div>
            </div>
        </div>
        <div class="field">
            <label>Progress</label>
            <div class="ui right labeled input">
                <input id="progress" placeholder="Progress" type="text"
                       ng-model="Model.EditComment.ProgressPercent">
                <div class="ui label">
                    %
                </div>
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" rows="2"
                      ng-model="Model.EditComment.Description"></textarea>
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated"
             ng-click="CommentDelete_OnClick()"
             ng-show="Model.EditComment.EntityId != null"
             lb-busy="Deleting">
            Delete
        </div>
        <div class="ui clear button"
             ng-click="CommentCancel_OnClick()">
            Cancel
        </div>
        <div class="ui primary button"
             ng-click="CommentOk_OnClick()"
             lb-busy="Saving">
            {{Model.EditComment.EntityId == null ? 'Create' : 'Save'}}
        </div>
    </div>
</modal>
<script language="javascript">
    var form = function () {
        return $('#form-task')
            .form({
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a title'
                            }
                        ]
                    },
                    project: {
                        identifier: 'project',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select a project'
                            }
                        ]
                    },
                    task_users: {
                        identifier: 'task-users',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please choose responsible users'
                            }
                        ]
                    },
                    total_hours: {
                        identifier: 'total-hours',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter total hours'
                            },
                            {
                                type: 'regExp[/^[0-9.]{1,10}$/]',
                                prompt: 'Please enter valid total hours'
                            }
                            /* implement regex: Please enter other than zero */
                        ]
                    }
                }
            });
    }
    var form2 = function () {
        return $('#form-subtask')
            .form({
                fields: {
                    title: {
                        identifier: 'title2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a title'
                            }
                        ]
                    },
                    total_hours: {
                        identifier: 'total-hours2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter total hours'
                            },
                            {
                                type: 'regExp[/^[0-9.]{1,10}$/]',
                                prompt: 'Please enter valid total hours'
                            }
                        ]
                    }
                }
            });
    }

    $.fn.form.settings.rules.nullablePercent = function (value) {
        return value == null || value === '' || (value >= 0 && value <= 100);
    }

    var form3 = function () {
        return $('#form-comment')
            .form({
                fields: {
                    actual_hours: {
                        identifier: 'actual-hours',
                        rules: [
                            {
                                type: 'regExp[/^[0-9.]{0,10}$/]',
                                prompt: 'Please enter valid actual hours'
                            }
                            /* implement regex: Please enter other than zero */
                        ]
                    },
                    date: {
                        identifier: 'date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a date'
                            }
                        ]
                    },
                    status: {
                        identifier: 'status',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a status'
                            }
                        ]
                    },
                    progress: {
                        identifier: 'progress',
                        rules: [
                            {
                                type: 'nullablePercent[value]',
                                prompt: 'Please enter valid percent value'
                            }
                        ]
                    }
                }
            });
    }
</script>
