<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="MyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" type="log4net.Util.PatternString" value="logs/%date{yyyy-MM-dd}.xml" />
    <appendToFile value="true"/>
    <rollingStyle value="Size" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <maxSizeRollBackups value="10" />
    <layout type="TaskManager.Log4NetLogger, TaskManager.Web">
      <locationInfo value="true" />
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>
  <appender name="MyRollingErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/errors.xml" />
    <appendToFile value="true"/>
    <rollingStyle value="Size" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <maxSizeRollBackups value="10" />
    <layout type="TaskManager.Log4NetLogger, TaskManager.Web">
      <locationInfo value="true" />
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="MyRollingFileAppender" />
    <appender-ref ref="MyRollingErrorsFileAppender" />
  </root>
</log4net>