<!-- loader -->
<div id="loader" class="ui dimmer transition active inverted">
    <div class="ui loader"></div>
</div>
<!-- a error on the page -->
<div class="ui error message ng-hide" ng-hide="Model.Error == null">
    <i class="close icon" ng-click="Model.Error = null"></i>
    <div class="header">
        Error
    </div>
    <p>{{Model.Error}}</p>
</div>
<div class="ui grid" ng-show="Model.Loaded">
    <!-- panel -->
    <div class="row">
        <div class="sixteen wide column">
            <button class="ui primary button" ng-click="Create_OnClick()">Create&nbsp;Project</button>
        </div>
    </div>
    <!-- Projects -->
    <div class="row">
        <div class="sixteen wide mobile eight wide tablet six wide computer column">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="Model.Projects.length == 0">
                        <td class="disabled">
                            <span>empty</span>
                        </td>
                    </tr>
                    <tr class="top aligned" ng-repeat="project in Model.Projects">
                        <td>
                            <div class="content">
                                <b>{{project.Title}}</b>
                                <div class="pull-right">
                                    <a href="" ng-click="Edit_OnClick(project)">edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <hr />
            <footer>
                <p>&copy; 2017 - Project Manager</p>
            </footer>
        </div>
    </div>
</div>
<!-- Edit Project Modal -->
<modal id="edit-project-modal" class="ui mini modal" ng-model="Model.EditProject">
    <i class="close icon" ng-click="Cancel_OnClick()"></i>
    <div class="header">{{Model.EditProject.EntityId == null ? 'Create Project' : 'Edit Project ' + "'" + Model.EditProject.Title + "'"}}</div>
    <div id="form-project" class="ui validate form content">
        <div class="ui red message ng-hide" ng-hide="Model.EditProject.Error == null">
            <p ng-bind-html="Model.EditProject.Error"></p>
        </div>
        <div class="field">
            <label>Name</label>
            <input id="title" placeholder="Name" type="text"
                   ng-model="Model.EditProject.Title">
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated"
             ng-click="Delete_OnClick()"
             ng-show="Model.EditProject.EntityId != null"
             lb-busy="Deleting">
            Delete
        </div>
        <div class="ui clear button"
             ng-click="Cancel_OnClick()">
            Cancel
        </div>
        <div class="ui primary button"
             ng-click="Ok_OnClick()"
             lb-busy="Saving">
            {{Model.EditProject.EntityId == null ? 'Create' : 'Save'}}
        </div>
    </div>
</modal>
<!-- confirm modal -->
<div id="confirm-modal" class="ui mini modal">
    <div class="ui icon header">
        <i class="warning circle icon"></i>
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui deny button">
            No
        </div>
        <div class="ui green ok button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>
<script language="javascript">
    /** this is the markup! **/
    var form = function () {
        return $('#form-project')
            .form({
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a name'
                            },
                            {
                                type: 'length[2]',
                                prompt: 'Enter Company Name (minimum 2 characters)'
                            },
                            {
                                type: 'maxLength[32]',
                                prompt: 'Enter Company Name (maximum 32 characters)'
                            }

                        ]
                    }
                }
            });
    }
</script>
