@{
    ViewBag.Title = "HOME PAGE";
}
<div class='container body-content no-bg'>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h2>Home</h2>
            </div>
        </div>
    </div>
    <hr/>
    <footer>
        <p>&copy; 2017 - Task Manager</p>
    </footer>
</div>