<body class="pushable">
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="item">
                <img class="ui mini image" src="/Content/images/logo.png">
                &nbsp;&nbsp;<b>Enote</b>
            </a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu left">
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="right item">
                        <a class="ui inverted button" href="/login">Log in</a>
                        <a class="ui inverted button" href="/sign-up">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="ui text container">
                <h1 class="ui inverted header">
                    <img class="ui large icon" src="/Content/images/logo.png">
                </h1>
                <h2>free task manager & project management tool!</h2>
                <p>Create a project, add as many team members as you want,<br>assign tasks and follow each other’s progress.</p>
                <a class="ui huge primary button" href="/sign-up">Get Started <i class="right arrow icon"></i></a>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="wide column">
                        <h3 class="ui header center aligned"><b>Enote</b> a project management and team collaboration tool that is 100% free!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="eight wide column">                        
                        <h3 class="ui header center aligned">Simplicity</h3>
                        <p>Easynote will always keep simplicity at it's core. We have powerful features but if you don't need them we make sure they will not get in the way of you creating that quick task list you need.</p>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui header center aligned">Great features</h3>
                        <p>Easynone's strong features such file sharing and easy group collaboration have given it the great reviews it has received. We are constantly reviewing our users needs and are determined to create a tool that is expandable with your needs.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Task hierarchy</h3>
                        <p>Create a task, add steps of execution and follow overall progress</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="~/Content/images/home_01.png" class="ui large image">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Time planning</h3>
                        <p>Plan time for each step of the task, write the spent time at each step and easily check the time actual and planned times</p>
                    </div>
                    <div class="eight wide right floated column">
                        <img src="~/Content/images/home_02.png" class="ui big image">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="six wide column">
                        <h3 class="ui header">Powerful features</h3>
                        <p>Our tool is designed so that you can start using it from the minute you register when your needs progress from the weekly shopping list to a multi-platform project, easynote has the features and capabilities to match your ambition</p>
                        <p>
                            <ul>
                                <li>Division into projects, task and subtasks</li>
                                <li>Priority of tasks</li>
                                <li>Statuses of tasks</li>
                                <li>Responsible</li>
                                <li>User comments</li>
                                <li>Files</li>
                                <li>indication of changes</li>
                                <li>work in a company</li>
                            </ul>
                        </p>
                    </div>
                    <div class="ten wide right floated column">
                        <img src="~/Content/images/home_03.png" class="ui massive image">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <script language="javascript">
        $(document)
        .ready(function () {
            // fix menu when passed
            $('.masthead').visibility({
                once: false,
                onBottomPassed: function () {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function () {
                    $('.fixed.menu').transition('fade out');
                }
            });

            // create sidebar and attach to menu open
            $('.ui.sidebar').sidebar('attach events', '.toc.item');
        });
    </script>
}
@section Content {
    <style type="text/css">
        .ui.menu.fixed {
            position: fixed;
        }

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 450px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 1em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

            .ui.vertical.stripe h3 {
                font-size: 2em;
            }

            .ui.vertical.stripe .button + h3,
            .ui.vertical.stripe p + h3 {
                margin-top: 3em;
            }

            .ui.vertical.stripe .floated.image {
                clear: both;
            }

            .ui.vertical.stripe p {
                font-size: 1.33em;
            }

            .ui.vertical.stripe .horizontal.divider {
                margin: 3em 0em;
            }

        .quote.stripe.segment {
            padding: 0em;
        }

            .quote.stripe.segment .grid .column {
                padding-top: 5em;
                padding-bottom: 5em;
            }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @@media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
}