@{
    ViewBag.Title = "HOME PAGE";
}
<div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th class="one wide"></th>
            <th class="three wide"></th>
            <th class="four wide">Title</th>
            <th class="eigth wide">Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">
                <div>
                    <span>Task#: <b>1</b></span> <a href="#">edit</a>
                </div>
                <div>
                    <span>Owner: <b>Admin</b></span>
                </div>
                <div>
                    <span>Status: In Progress</span>
                </div>
                <div>
                    <span>Urgency: <b class="ui label red">Very Low</b></span>
                </div>
                <div>
                    <span>Hours (actual / total): 20h / 30h</span>
                </div>
                <div>
                    <span>Responsible: user1 user2 user3</span>
                </div>
                <div class="ui progress green" id="example1" data-percent="15">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </td>
            <td>
                22
            </td>
            <td>
                22
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <div>
                    <span>SubTask#: <b>1</b></span> <a href="#">edit</a>
                </div>
                <div>
                    <span>Owner: <b>Admin</b></span>
                </div>
                <div>
                    <span>Status: In Progress</span>
                </div>
                <div>
                    <span>Actual Hours: 20h</span>
                </div>
                <div class="ui progress green" id="example2" data-percent="15">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </td>
            <td class="four wide">
                22
            </td>
            <td class="seven wide">
                22
            </td>
        </tr>


        </tbody>
    </table>
    <hr />
    <footer>
        <p>&copy; 2017 - Task Manager</p>
    </footer>
</div>
<script language="javascript">
    $('#example1').progress({ showActivity: false });// TODO: !!!!
    $('#example2').progress({ showActivity: false });// TODO: !!!!
</script>