<div>
    <!-- panel -->
    <div>
        <button class="ui primary button" ng-click="CreateTask()">Create&nbsp;Task</button>
    </div>
    <!-- tasks -->
    <table class="ui celled table">
        <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide left-merge"></th>
                <th class="four wide">Title</th>
                <th class="eigth wide">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="top aligned" ng-repeat-start="task in Model.Tasks">
                <td colspan="2">
                    <div class="content">
                        <div>
                            <span class="label">Task#</span>&nbsp;
                            <span class="value"><b>{{task.Index}}</b></span>&nbsp;
                            <a class="pull-right">edit</a>
                        </div>
                        <div>
                            <span class="label">Owner</span>&nbsp;
                            <span class="value">Admin</span>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{task.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[task.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Urgency</span>&nbsp;
                            <span class="ui label" ng-class="{0:'gray', 1:'gray', 2:'yellow', 3:'orange', 4:'red', '':'hidden'}[task.Priority]">{{TaskPriorityNames[task.Priority]}}</span>
                        </div>
                        <div>
                            <span class="label">Hours (actual / total)</span>&nbsp;
                            <span class="value">20h / 30h</span>
                        </div>
                        <div>
                            <span class="label">Responsible</span>&nbsp;
                            <span class="value">user1 user2 user3</span>
                        </div>
                        <div class="ui progress green value" id="example1" data-percent="15">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <p>
                        <b>{{task.Title}}</b>
                    </p>
                    <p>{{task.Desctiption}}</p>
                </td>
                <td>
                    22
                </td>
            </tr>

            <tr class="top aligned" ng-repeat-end ng-repeat="subTask in task.SubTasks">
                <td class="header"></td>
                <td>
                    <div class="content">
                        <div>
                            <span class="label">Index</span>&nbsp;
                            <span class="value">{{task.Index}}/{{subTask.Order}}</span>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{task.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[task.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Actual Hours: 20h</span>
                        </div>
                        <div class="ui progress green value" id="example2" data-percent="15">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="four wide">
                    <p>
                        <b>{{subTask.Title}}</b>
                    </p>
                    <p>{{subTask.Desctiption}}</p>
                </td>
                <td class="seven wide">
                    22
                </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <footer>
        <p>&copy; 2017 - Task Manager</p>
    </footer>
</div>
<!-- Edit Modal -->
<div id="edit-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Modal Title
    </div>
    <div class="image content">
        <div class="image">
            An image can appear on left or an icon
        </div>
        <div class="description">
            A description can appear on the right
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui ok primary button">Create</div>
    </div>
</div>
<script language="javascript">
    $('#example1').progress({ showActivity: false });// TODO: !!!!
    $('#example2').progress({ showActivity: false });// TODO: !!!!
</script>