<div>
    <!-- panel -->
    <div>
        <button class="ui primary button" ng-click="CreateTask_OnClick()">Create&nbsp;Task</button>
    </div>
    <!-- tasks -->
    <table class="ui celled table">
        <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide left-merge"></th>
                <th class="four wide">Title</th>
                <th class="eigth wide">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="top aligned" ng-repeat-start="task in Model.Tasks">
                <td colspan="2">
                    <div class="content">
                        <div>
                            <span class="label">Task#</span>&nbsp;
                            <span class="value"><b>{{task.Index}}</b></span>&nbsp;
                            <div class="pull-right">
                                <a href="" ng-click="EditTask_OnClick(task)">edit</a>
                                &nbsp;|&nbsp;
                                <a href="" ng-click="CreateSubTask_OnClick(task)">add subtask</a>
                            </div>
                        </div>
                        <div>
                            <span class="label">Owner</span>&nbsp;
                            <span class="value">Admin</span>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{task.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[task.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Urgency</span>&nbsp;
                            <span class="ui label" ng-class="TaskPriorityClasses[task.Priority]">{{TaskPriorityNames[task.Priority]}}</span>
                        </div>
                        <div>
                            <span class="label">Hours (actual / total)</span>&nbsp;
                            <span class="value">{{task.ActualWork.asHours() | number:1}}h / {{task.TotalWork.asHours() | number:1}}h</span>
                        </div>
                        <div>
                            <span class="label">Responsible</span>&nbsp;
                            <span class="value">user1 user2 user3</span>
                        </div>
                        <div class="ui progress green value" id="example1" data-percent="15">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <p>
                        <b>{{task.Title}}</b>
                    </p>
                    <p>{{task.Desctiption}}</p>
                </td>
                <td>
                    22
                </td>
            </tr>

            <tr class="top aligned" ng-repeat-end ng-repeat="subTask in task.SubTasks">
                <td class="header"></td>
                <td>
                    <div class="content">
                        <div>
                            <span class="label">Index</span>&nbsp;
                            <span class="value"><b>{{task.Index}}</b>/<b>{{subTask.Order}}</b></span>
                            <a class="pull-right" href="" ng-click="EditSubTask_OnClick(subTask)">edit</a>
                        </div>
                        <div>
                            <span class="label">Date</span>&nbsp;
                            <span class="value">{{task.CreatedDate.format("MM/DD/YYYY h:mm A")}}</span>
                        </div>
                        <div>
                            <span class="label">Status</span>&nbsp;
                            <span class="value">{{TaskStatusNames[task.Status]}}</span>
                        </div>
                        <div>
                            <span class="label">Actual Hours</span>
                            <span class="value">{{task.ActualWork.asHours() | number:1}}h / {{task.TotalWork.asHours() | number:1}}h  </span>
                        </div>
                        <div class="ui progress green value" id="example2" data-percent="15">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="four wide">
                    <p>
                        <b>{{subTask.Title}}</b>
                    </p>
                    <p>{{subTask.Desctiption}}</p>
                </td>
                <td class="seven wide">
                    22
                </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <footer>
        <p>&copy; 2017 - Task Manager</p>
    </footer>
</div>
<!-- Edit Task Modal -->
<div id="edit-task-modal" class="ui small modal">
    <i class="close icon" ng-click="TaskCancel_OnClick()"></i>
    <div class="header">{{Model.EditTask.EntityId == null ? 'Create Task' : 'Edit Task ' + "'" + Model.EditTask.Title + "'"}}</div>
    <div id="form-task" class="ui validate form scrolling content">
        <div class="field">
            <label>Title</label>
            <input id="title" placeholder="Title" type="text"
                   ng-model="Model.EditTask.Title">
        </div>
        <div class="field">
            <label>Urgency</label>
            <button class="ui button"
                    ng-class="TaskPriorityClasses[Model.EditTask.Priority]"
                    ng-click="TaskPriority_OnClick()">
                {{TaskPriorityNames[Model.EditTask.Priority]}}
            </button>
        </div>
        <div class="field">
            <label>Total Hours</label>
            <div class="ui right labeled input">
                <input id="total-hours" placeholder="Total Hours" type="text"
                       ng-model="Model.EditTask.TotalWorkHours">
                <div class="ui label">
                    hours
                </div>
            </div>
        </div>
        <div class="field">
            <label>Responsible</label>
            <select id="selected-users" class="ui fluid dropdown"
                    placeholder="Responsible" multiple
                    ng-options="user as user.UserName for user in Model.Users track by user.Id"
                    ng-model="Model.SelectedUsers"></select>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" rows="2"
                      ng-model="Model.EditTask.Description"></textarea>
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated" ng-click="TaskDelete_OnClick()" ng-show="Model.EditTask.EntityId != null">Delete</div>
        <div class="ui clear button" ng-click="TaskCancel_OnClick()">Cancel</div>
        <div class="ui primary button" ng-click="TaskOk_OnClick()">{{Model.EditTask.EntityId == null ? 'Create' : 'Save'}}</div>
    </div>
</div>
<!-- Edit SubTask Modal -->
<div id="edit-subtask-modal" class="ui small modal">
    <i class="close icon" ng-click="SubTaskCancel_OnClick()"></i>
    <div class="header">{{Model.EditSubTask.EntityId == null ? 'Create SubTask' : 'Edit SubTask ' + "'" + Model.EditSubTask.Title + "'"}}</div>
    <div id="form-subtask" class="ui validate form scrolling content">
        <div class="field">
            <label>Title</label>
            <input id="title2" placeholder="Title" type="text"
                   ng-model="Model.EditSubTask.Title">
        </div>
        <div class="field">
            <label>Total Hours</label>
            <div class="ui right labeled input">
                <input id="total-hours2" placeholder="Total Hours" type="text"
                       ng-model="Model.EditSubTask.TotalWorkHours">
                <div class="ui label">
                    hours
                </div>
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea placeholder="Description" rows="2"
                      ng-model="Model.EditSubTask.Description"></textarea>
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui red button left floated" ng-click="SubTaskDelete_OnClick()" ng-show="Model.EditSubTask.EntityId != null">Delete</div>
        <div class="ui button" ng-click="SubTaskCancel_OnClick()">Cancel</div>
        <div class="ui primary button" ng-click="SubTaskOk_OnClick()">{{Model.EditSubTask.EntityId == null ? 'Create' : 'Save'}}</div>
    </div>
</div>
<script language="javascript">
    $('#example1').progress({ showActivity: false }); // TODO: !!!!
    $('#example2').progress({ showActivity: false }); // TODO: !!!!
</script>
<script language="javascript">
    InitDropdown();
    form = $('#form-task')
        .form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a title'
                        }
                    ]
                },
                selected_users: {
                    identifier: 'selected-users',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please choose responsible users'
                        }
                    ]
                },
                total_hours: {
                    identifier: 'total-hours',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter total hours'
                        },
                        {
                            type: 'regExp[/^[0-9.]{1,10}$/]',
                            prompt: 'Please enter valid total hours'
                        }
                    ]
                }
            }
        });
    form2 = $('#form-subtask')
        .form({
            fields: {
                title: {
                    identifier: 'title2',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a title'
                        }
                    ]
                },
                total_hours: {
                    identifier: 'total-hours2',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter total hours'
                        },
                        {
                            type: 'regExp[/^[0-9.]{1,10}$/]',
                            prompt: 'Please enter valid total hours'
                        }
                    ]
                }
            }
        });
</script>
