<!-- loader -->
<div id="loader" class="ui dimmer transition active inverted">
    <div class="ui loader"></div>
</div>
<!-- a error on the page -->
<div class="ui error message ng-hide" ng-hide="Model.Error == null">
    <i class="close icon" ng-click="Model.Error = null"></i>
    <div class="header">
        Error
    </div>
    <p>{{Model.Error}}</p>
</div>
<div class="ui grid">
    <!-- panel -->
    <div class="row">
        <div class="sixteen wide column">
            <button class="ui button"
                    ng-show="Model.Company != null"
                    ng-click="Leave_OnClick()"
                    title="Leave from {{Model.Company.Name}}">
                Leave
            </button>
            <button class="ui green button"
                    ng-show="Model.InvitationCompany != null"
                    ng-click="Accept_OnClick()"
                    title="Decline invitation">
                Accept
            </button>
            <button class="ui red button"
                    ng-show="Model.InvitationCompany != null"
                    ng-click="Reject_OnClick()"
                    title="Decline invitation">
                Reject
            </button>
            <button class="ui primary button"
                    ng-show="Model.UserId == Model.Company.CreatedById"
                    ng-click="FindUser_OnClick()"
                    title="Find and Invite a user">
                Find User
            </button>
        </div>
    </div>
    <!-- Users -->
    <div class="row" ng-show="Model.Company != null">
        <div class="sixteen wide mobile eight wide tablet six wide computer column">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>UserName</th>
                        <th ng-show="Model.UserId == Model.Company.CreatedById"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="Model.Users.length == 0">
                        <td class="disabled">
                            <span>empty</span>
                        </td>
                    </tr>
                    <tr class="top aligned" ng-repeat="user in Model.InvitedUsers">
                        <td>
                            <div class="content">
                                <b>{{user.Email}}</b>
                            </div>
                        </td>
                        <td>
                            <div class="content">
                                <b>{{user.UserName}}</b>
                            </div>
                        </td>
                        <td ng-show="Model.UserId == Model.Company.CreatedById">
                            <div class="content">
                                <div class="pull-right">
                                    <a href="" ng-click="Cancel_OnClick(user)"
                                       title="Cancel Invitation">cancel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="top aligned" ng-repeat="user in Model.Users">
                        <td>
                            <div class="content">
                                <b>{{user.Email}}</b>
                            </div>
                        </td>
                        <td>
                            <div class="content">
                                <b>{{user.UserName}}</b>
                            </div>
                        </td>
                        <td ng-show="Model.UserId == Model.Company.CreatedById">
                            <div class="content">
                                <div class="pull-right">
                                    <a href="" ng-click="Remove_OnClick(user)">remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <hr />
            <footer>
                <p>&copy; 2017 - User Manager</p>
            </footer>
        </div>
    </div>
</div>
<!-- Find User Modal -->
<div id="find-user-modal" class="ui small modal">
    <i class="close icon" ng-click="Cancel_OnClick()"></i>
    <div class="header">Find and Invite User</div>
    <div id="form-find-user" class="ui validate form content">
        <div class="ui red message ng-hide" ng-hide="Model.FindUser.Error == null">
            <p ng-bind-html="Model.FindUser.Error"></p>
        </div>
        <div class="field">
            <label>UserName or Email</label>
            <input id="username" placeholder="UserName or Email" type="text"
                   ng-model="Model.FindUser.UserName">
        </div>
        <div class="ui error message"></div>
    </div>
    <div class="actions">
        <div class="ui clear button"
             ng-click="Cancel_OnClick()">
            Cancel
        </div>
        <div class="ui primary button"
             ng-click="Ok_OnClick()"
             lb-busy="Saving">
            {{Model.EditProject.EntityId == null ? 'Find' : 'Invite'}}
        </div>
    </div>
</div>
<script language="javascript">
    form = $('#find-user-modal')
        .form({
            fields: {
                username_or_email: {
                    identifier: 'username-or-email',
                    rules: [
                         {
                             type: 'empty',
                             prompt: 'Please enter a UserName or Email'
                         }
                    ]
                },
            }
        });
</script>
