@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Log in";
}
<body ng-app="TaskManagerApp">
    <div class="ui center aligned grid" ng-controller="LoginController">
        <div class="column">
            <div class="ui header blue">
                <img class="ui small image" src="/Content/images/logo.png" ng-click="GoToHome()">
            </div>
            <div class="ui form large" ng-submit="Login()">
                <h3 class="ui top attached header">
                    Login to your Account
                </h3>
                <div class="ui attached segment left aligned">
                    <div class="ui red message ng-hide" ng-hide="Model.Error == null">
                        <p ng-bind-html="Model.Error"></p>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input id="login" name="login" placeholder="Login or Email" type="text" ng-model="Model.Login">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" name="password" placeholder="Password" type="password" ng-model="Model.Password">
                        </div>
                    </div>
                    <button class="fluid ui primary button" lb-busy="Saving" type="submit" ng-click="Login()">
                        Login
                    </button>
                    <div class="ui error message"></div>
                </div>
            </div>
            <div class="ui message">
                Don't have an account? <a target="_self" href="@Url.Action("Register")">Sign Up</a>
            </div>
            <div class="ui message">
                <div class="ui container left aligned">
                    example user
                    <br>
                    login: <i>john</i> or <i>luke</i>
                    <br>
                    password: <i>123456</i>
                </div>
            </div>
        </div>
    </div>
</body>

@section Content {
    <style type="text/css">
        body {
            background-color: #F5F5F5 !important;
        }

            body > .grid {
                height: 100%;
            }

        .image {
            margin-top: -100px;
            cursor: pointer;
        }

        .column {
            max-width: 450px;
            margin-top: 40px;
        }
    </style>
}
@section Scripts {
    <script language="javascript">
        var form = function () {
            return $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'login',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a login or email'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a password'
                                }
                            ]
                        }
                    }
                });
        }
    </script>
}
