@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Sign Up";
}
<body ng-app="TaskManagerApp">
    <div class="ui aligned center aligned grid" ng-controller="SignUpController">
        <div class="column">
            <div class="ui header blue">
                <img class="ui small image" src="/Content/images/logo.png" ng-click="GoToHome()">
            </div>
            <div class="ui form large" ng-submit="SignUp()">
                <h3 class="ui top attached header">
                    Create your Account
                </h3>
                <div class="ui attached segment left aligned">
                    <div class="ui red message ng-hide" ng-hide="Model.Error == null">
                        <p ng-bind-html="Model.Error"></p>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input id="email" placeholder="E-mail address" type="email" ng-model="Model.Email">
                        </div>
                    </div>
                    <div class="field">
                        <label>UserName</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input id="userName" placeholder="UserName" type="text" ng-model="Model.UserName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Company Name</label>
                        <div class="ui left icon input">
                            <i class="users icon"></i>
                            <input id="companyName" placeholder="Company Name" type="text" ng-model="Model.CompanyName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" placeholder="Password" type="password" ng-model="Model.Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="confirmPassword" placeholder="Confirm Password" type="password" ng-model="Model.ConfirmPassword">
                        </div>
                    </div>
                    <div class="fluid ui primary button" lb-busy="Saving" type="submit" ng-click="SignUp()">
                        Register
                    </div>
                    <div class="ui error message"></div>
                </div>
            </div>
            <div class="ui message">
                Already have an account? <a target="_self" href="@Url.Action("Login")">Log In</a>
            </div>
        </div>
    </div>
</body>

@section Content {
    <style type="text/css">
        body {
            background-color: #F5F5F5 !important;
        }

            body > .grid {
                height: 100%;
            }

        .image {
            margin-top: -100px;
            cursor: pointer;
        }

        .column {
            max-width: 450px;
            margin-top: 40px;
        }
    </style>
}
@section Scripts {
    <script language="javascript">
        var form = function () {
            return $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a email'
                                },
                                {
                                    type: 'email',
                                    prompt: 'The Email field is not a valid e-mail address.'
                                }
                            ]
                        },
                        userName: {
                            identifier: 'userName',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a UserName'
                                },
                                {
                                    type: 'length[3]',
                                    prompt: 'Enter UserName (minimum 3 characters)'
                                },
                                {
                                    type: 'maxLength[32]',
                                    prompt: 'Enter UserName (maximum 32 characters)'
                                }
                            ]
                        },
                        companyName: {
                            identifier: 'companyName',
                            rules: [
                                {
                                    type: 'maxLength[64]',
                                    prompt: 'Enter Company Name (maximum 64 characters)'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a password'
                                },
                                {
                                    type: 'length[6]',
                                    prompt: 'Enter password (minimum 6 characters)'
                                }
                            ]
                        },
                        confirmPassword: {
                            identifier: 'confirmPassword',
                            rules: [
                                {
                                    type: 'match[password]',
                                    prompt: 'Passwords not match'
                                },
                                {
                                    type: 'empty',
                                    prompt: 'Please enter a confirm password'
                                },
                            ]
                        },
                    },
                    keyboardShortcuts: true
                });
        }
    </script>
}
