.content .label {
    color: grey;
}
.content .value {
    color: black;
}
.content .extra {
    color: grey;
    font-size: 0.9em;
}
.content .pull-right {
    float: right;
}
.content .pull-left {
    float: left;
}
.content .ui.progress.green.value {
    margin: 0.3em 0em 0em;
}

.ui.table tr th.left-merge {
    border-left: none;
}
td.header {
    background: #f9fafb;
}
.button.readonly {
    pointer-events: none !important;
}
/* loading background */
.ui.main.container > .ui.dimmer {
    z-index: 1;
    min-height: 20em;
}
html, body {
    height: auto;
}
body footer {
    margin-bottom: 1em;
}