/*** html & footer ***/
html, body {
    height: auto;
}

    body footer {
        margin-bottom: 1em;
    }

/* max size */
@media only screen and (min-width: 1200px) {
    div.ui.block.main.menu {
        display: block;
    }

    .ui.stretched.container {
        width: auto;
        margin-left: 60px !important;
        margin-right: 60px !important;
    }
}

/*** Text colors ***/
.content .label {
    color: grey;
}

.content .value {
    color: black;
}

    .content .value.red {
        color: red;
    }

    .content .value.green {
        color: green;
    }

    .content .value.brue {
        color: blue;
    }


.content .extra {
    color: grey;
    font-size: 0.9em;
}

.content .inline {
    display: inline-block;
}

/*** Alignments ***/
.content .pull-right {
    float: right;
}

.content .pull-left {
    float: left;
}

/*** Fixes for progress bar in first column ***/
.content .ui.progress.green.value {
    margin: 0.3em 0em 0em;
}

.ui.table tr th.left-merge {
    border-left: none;
}

td.header {
    background: #f5f5f5;
}

/*** The fix of readonly button. lb-busy ***/
.button.readonly {
    pointer-events: none !important;
}

/*** Loading ***/
/* loading background */
.ui.main.container > .ui.dimmer {
    z-index: 1;
}
/* the size of main container when loading */
.ui.main.container.dimmable.dimmed {
    min-height: 20em;
}

/*** table row dimmer ***/
tr td div.ui.dimmer {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    z-index: 1;
}

/*** fixed items ***/
td.tasks-comments > .item {
    margin-bottom: 0.5em;
}

    td.tasks-comments > .item.border {
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    }

td.tasks-comments > .ui.items {
    margin-top: 0;
}

td.tasks-comments > .ui.divided.items > .item {
    padding: 0.5em 0em;
}
/*** menu ***/
.ui.menu.fixed {
    position: inherit;
}

.wide.column > .streach {
    width: 100%;
    min-width: 100%;
    white-space: nowrap;
}
/*** login/logout to right ***/
.ui.right.block.menu {
    display: flex !important;
    flex-flow: row-reverse;
    width: 100%;
}
/*** word wrap ***/
table.ui.table.flexed {
    table-layout: fixed;
}

td.word_wrap {
    word-wrap: break-word;
}

div.block, p.block {
    display: block !important;
}

tr.disabled1 span, tr.disabled1 p, tr.disabled1 div.header {
    color: gray !important;
}

tr.disabled1 {
    background: #f5f5f5;
}

    tr.disabled1 .button,
    tr.disabled1 .ui.basic.blue.label,
    tr.disabled1 .ui.basic.green.label,
    tr.disabled1 .ui.basic.red.label,
    tr.disabled1 .ui.basic.brown.label,
    tr.disabled1 .ui.basic.black.label,
    tr.disabled1 .ui.basic.gray.label,
    tr.disabled1 .ui.basic.teal.label {
        background-color: #f5f5f5 !important;
    }

    tr.disabled1 .button,
    tr.disabled1 .ui.basic.blue.label,
    tr.disabled1 .ui.basic.green.label,
    tr.disabled1 .ui.basic.red.label,
    tr.disabled1 .ui.basic.brown.label,
    tr.disabled1 .ui.basic.black.label,
    tr.disabled1 .ui.basic.teal.label {
        border-color: #aaa !important;
        color: #aaa !important;
    }

    tr.disabled1 .ui.basic.gray.label {
        border-color: #ddd !important;
        color: #ddd !important;
    }

    tr.disabled1 .value.red {
        color: red !important;
    }

    tr.disabled1 .value.green {
        color: green !important;
    }

    tr.disabled1 .value.blue {
        color: blue !important;
    }

    tr.disabled1 .ui.progress.green .bar {
        background-color: #cecece !important;
    }

.basic.gray {
    color: rgba(34, 36, 38, 0.35) !important;
}

.ui.basic.green.label {
    border-color: green !important;
    color: green !important;
}

.file.label {
    margin-top: 3px;
}

#confirm-modal {
    position: absolute;
}
/** Alarms **/
.ui.alarms.calendar .column {
    width: auto;
    flex-grow: initial !important;
}

    .ui.alarms.calendar .column td {
        /*pointer-events: none;*/
    }

        .ui.alarms.calendar .column td.link.mark {
            background-color: forestgreen;
            color: white;
            font-weight: bold;
        }

            .ui.alarms.calendar .column td.link.mark.focus {
                background-color: forestgreen !important;
                color: white;
                font-weight: bold;
            }

        .ui.alarms.calendar .column td.link.today {
            border: 2px solid #000000;
        }

        .ui.alarms.calendar .column td.link.yesterday {
            color: lightgray;
        }

        .ui.alarms.calendar .column td.link.disabled {
            color: white;
        }

span.alarm-label {
    color: black;
    margin-top: 7px !important;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-family: Arial;
}

a.alarm.item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

    a.alarm.item .loading.icon {
        left: 11px;
    }

/** Favorite **/
i.favorite.icon, i.calendar.check {
    cursor: pointer;
}
