/*** html & footer ***/
html, body {
    height: auto;
}

    body footer {
        margin-bottom: 1em;
    }

/*** Text colors ***/
.content .label {
    color: grey;
}

.content .value {
    color: black;
}

.content .extra {
    color: grey;
    font-size: 0.9em;
}

/*** Alignments ***/
.content .pull-right {
    float: right;
}

.content .pull-left {
    float: left;
}

/*** Fixes for progress bar in first column ***/
.content .ui.progress.green.value {
    margin: 0.3em 0em 0em;
}

.ui.table tr th.left-merge {
    border-left: none;
}

td.header {
    background: #f9fafb;
}

/*** The fix of readonly button. lb-busy ***/
.button.readonly {
    pointer-events: none !important;
}

/*** Loading ***/
/* loading background */
.ui.main.container > .ui.dimmer {
    z-index: 1;
}
/* the size of main container when loading */
.ui.main.container.dimmable.dimmed {
    min-height: 20em;
}

/*** table row dimmer ***/
tr td div.ui.dimmer {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    z-index: 1;
}

/*** fixed items ***/
td.tasks-comments > .item {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

td.tasks-comments > .ui.items {
    margin-top: 0;
}

td.tasks-comments > .ui.divided.items > .item {
    padding: 0.5em 0em;
}
