<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=TaskManager2; Trusted_Connection=True;MultipleActiveResultSets=true;Connection Timeout=600;" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=166.62.40.201\SQLEXPRESS; Initial Catalog=TaskManager; User Id=sa; Password=Z6lEoo8k;Trusted_Connection=False;MultipleActiveResultSets=true;Connection Timeout=600;" providerName="System.Data.SqlClient" />-->
</connectionStrings>